<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBJT-West | About</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <div class="navbar">
      <div class="navbar-left">
        <a href="{{ url_for('index') }}" class="navbar-left-link">
            <img src="/static/images/logo.png" alt="Logo" class="navbar-icon">
            <span class="navbar-name">IBJT - Westbound</span>
        </a>
      </div>
        <div class="navbar-links">
            <a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Home</a>
            <a href="{{ url_for('about') }}" class="{% if request.endpoint == 'about' %}active{% endif %}">About</a>
        </div>
        
        <!-- Hamburger menu for mobile view -->
        <div class="navbar-toggle" onclick="toggleNavbar()">&#9776;</div>
    </div>
    <div class="content">
        <div class="hero">
        The unit is divided into two functional sections: the Administration Section, which manages command and control while handling administrative and service support needs, and the Operations Section, which oversees terminal operations and ensures the implementation of Iligan City Government's programs and policies. Together, these sections work to maintain efficient operations and governance within the unit.
        </div>
    </div>
    <br>

      <section class="container members">
        <h1>Terminal Manager</h1>
        <div class="project-members">
          <div class="project-member">
            <img src="{{ url_for('static', filename='images/marata.jpg') }}" alt="Elvin L. Marata">
            <h3>Elvin L. Marata</h3>
            <p>IBJT-West</p>
          </div>
        </div>
        <h1>Detailed Admin Officer</h1>
        <div class="project-members">
          <div class="project-member">
            <img src="{{ url_for('static', filename='images/adlawan.jpg') }}" alt="Gay A. Adlawan">
            <h3>Gay A. Adlawan</h3>
            <p>IBJT-West</p>
          </div>
        </div>
        <h1>Admin Staff</h1>
        <div class="project-members">
          <div class="project-member">
            <img src="https://placehold.co/150x150?text=Louiemil+S.+Maybituin" alt="Louiemil S. Maybituin">
            <h3>Louiemil S. Maybituin</h3>
            <p>IBJT-West</p>
          </div>
          <div class="project-member">
            <img src="https://placehold.co/150x150?text=Rosean+Lyn+M.+Quitain" alt="Rosean Lyn M. Quitain">
            <h3>Rosean Lyn M. Quitain</h3>
            <p>IBJT-West</p>
          </div>
          <div class="project-member">
            <img src="https://placehold.co/150x150?text=Isidra+Eden+T.+Lugatiman" alt="Isidra Eden T. Lugatiman">
            <h3>Isidra Eden T. Lugatiman</h3>
            <p>IBJT-West</p>
          </div>
          <div class="project-member">
            <img src="https://placehold.co/150x150?text=Rosemarie+S.+Ramos" alt="Rosemarie S. Ramos">
            <h3>Rosemarie S. Ramos</h3>
            <p>IBJT-West</p>
          </div>
          <div class="project-member">
            <img src="https://placehold.co/150x150?text=Lorena+R.+Ombao" alt="Lorena R. Ombao">
            <h3>Lorena R. Ombao</h3>
            <p>IBJT-West</p>
          </div>
          <div class="project-member">
            <img src="https://placehold.co/150x150?text=Marlyn+I.+Loguiver" alt="Marlyn I. Loguiver">
            <h3>Marlyn I. Loguiver</h3>
            <p>IBJT-West</p>
          </div>
        </div>
        </div>
      </section>
    <br><br>

    <footer style="background-color: #0055b3; color: white; padding: 20px; padding-right: 20px; text-align: left; clear: both;">
        <p style="font-size: large;"><b>Iligan Bus and Jeepney Terminal - Westbound</b></p>
        <p style="font-size: small; color: #62bfe3; padding-bottom: 25px;"><i>Barangay Suarez, Iligan City, 9200 Lanao del Norte</i></p>
        <br>
        <p style="font-size: small; color: #d7f1fb; padding-bottom: 25px;"><i>Copyright &copy; 2025 | Andrei Adlawan. All rights reserved.</i></p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
